@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #4d4d4d;
}
header{
    background-image: url("https://swall.teahub.io/photos/small/260-2607358_outer-space.jpg");
    background-size: cover ;
    position: relative;
    width: 100%;
    height: 20vh;
}
/*
button{
    position: absolute;
    margin: auto;
    width: 16%;
    height: 7vh;
    bottom: 0;
    margin: 4px;
}
#btn-2{
    margin-left: 16.4%;
}
#btn-3{
    margin-left: 32.5%;
}
#btn-4{
    margin-left: 48.7%;
}
#btn-5{
    margin-left: 64.8%;
}
#btn-6{
    margin-left: 80.9%;
}
*/
.back-header{   
    display: inline-flex;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0;
    bottom: 0;
}
.back-header button{
    width: 16.666%;
    height: 7vh;
    margin-top: 13vh;
    background: rgb(0,183,28);
    background: linear-gradient(0deg, rgb(60, 0, 255) 0%, rgba(60, 0, 255, 0.7) 35%, rgba(60, 0, 255, 0.03) 100%);
    border: none;
    color: white;
    font-family: "Montserrat";
}

.corpo-da-pagina{
    display: grid;
    grid-template-columns: auto auto;
}

.daily-observation{
    position: relative;
    width: 80%;
    height: 60vh;
    margin: 5%;
    border-radius: 15px;
    background-color: #2c2c2c;
}
.header-daily-observation{
    display: inline-flex;
    position: relative;
    background-color: rgb(0,183,28);
    width: 96%;
    height: 7vh;
    border-radius: 15px 15px 0px 0px;
    padding: 2%;
}
.plus{
    position: absolute;
    background-color: rgb(0,183,28);
    border: none;
    font-size: 2rem;
    margin: auto;
    right: 0;
    margin-right: 5%;
    margin-top: .5vh;
    font-family: 'Montserrat';
}
h1{
    font-family: 'Montserrat';
    font-weight:normal;
    margin-right: 5%;
    margin-top: .5vh;
    font-size: 1.5rem;
}
.week{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 5%;
}
.dia{
    width: 85%;
    height: 30vh;
    position: relative;
    background-color: #2c2c2c;
    border-radius: 15px;

}
.header-week-days{
    display: inline-flex;
    position: relative;
    background-color: rgb(0,183,28);
    width: 96%;
    height: 5vh;
    border-radius: 15px 15px 0px 0px;
    padding: 2%;
}
.plus-week{
    position: absolute;
    background-color: rgb(0,183,28);
    border: none;
    font-size: 1.8rem;
    margin: auto;
    right: 0;
    margin-right: 5%;
    margin-top: .1vh;
    font-family: 'Montserrat';
}
textarea{
    width: 20%;
    height: 60vh;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    background-color: #c5c5c5ef;
    padding: 2%;
    font-size: 1.3rem;
    font-family: 'Montserrat';
    display: none;
}
.btn-send{
    display: none;
    position: fixed;
    height: 5vh;
    width: 10%;
    margin: auto;
    border: none;
    border-radius: 15px;
    background-color: rgb(0,183,28);
    top: 0;
    right: 0;
    bottom: -80%;
    left: 0;
}
p{
    margin: 5%;
    color: white;
    width: 90%;
    height: 60vh;
    position: absolute;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    text-wrap:pretty;

}
